{% extends "_layouts/cp" %}

{% set title = "Sub-Calendars"|t %}

{% set tabs = {
    calupdate: { label: "CalUpdate"|t, url: url('calendar37') },
    views: { label: "Views"|t, url: url('calendar37/views.html') },
    subsets: { label: "Sub-Calendars"|t, url: url('calendar37/subsets.html') },
    settings:  { label: "Settings"|t, url: url('calendar37/settings.html') }
} %}
{% set selectedTab = 'subsets' %}


{% includeCssResource "calendar37/calendar.css" %}
{% includeCssFile siteUrl ~ craft.Calendar37.getCpCssFile() %}

{# % includeCssResource "lib/redactor/redactor.css" % #}
{# % includeJsResource "lib/redactor/redactor.js" % #}
{# % includeJs "$('#alt_text').redactor();" % #}




{% set content %}

<h1>Sub-Calendars</h1>

<p>On this page, you can define calendars that show a subset of all events, such as all events for a particular venue.</P>

{% endset %}