<script>
	var entry_id = {{ craft.request.getLastSegment()|split('-')|first }};
	var cal37_numOccurrences = {{ count }};
</script>


<button type="button" id="cal37_choose_dates_button">There {{ (count != 1) ? 'are ' ~ count ~ ' occurrences' : 'is 1 occurrence' }} in the calendar</button>

<br>
<label for='fields-cal37_info'>Current info</label>
<div id='cal37_info'>
</div>

<div id='cal37_event_inserter' style='display: none;'>
	<form id="calupdate-form" onclick="return displayCalendars()" action="" method="post">

	<div id="calupdatetable">
	 <fieldset>
	   <div id='cal37_time_alt_text'>
		  <label for='time1'>Time</label><br>
		<SELECT id="time1" name="time1">
			{{ event_times|raw }}
		  </SELECT><br>
		  <label for="alt_text">Alternate Text (optional)</label><br>
		  <input id="alt_text" type="text" size="30" name="txt">
		</div>
		<div id='cal37_multiclick'>
		 Clicking on a green or blue square:<br> 
		  <input type="radio" name="multiOrDelete" value="multi" checked="checked" disabled>Adds another event to the same day<br>
		<input type="radio" name="multiOrDelete" value="delete" checked='checked' disabled>Deletes the oldest event
		</div>
	  </fieldset>
		</div>

	<div id="cal37_micro" width="300px">
	</div>
	
	</form>
</div>
